.venv/
__pycache__/
.ruff_cache/
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
.env
data/raw/
data/interim/
data/*.duckdb
data/*.duckdb.wal
dbt/target/
dbt/logs/
dbt/dbt_packages/
logs/
dbt/.user.yml
data/*.duckdb.tmp/
